body {
    background-color: burlywood;
    padding: 45px;
    margin-bottom: 0px;
}



td{
    margin: 5px;
    
}
#plot {
    float: right;
    clear: both;
    top: 80px;
    height: 80%;
    width: 800px;
    border: 1px dashed black;
    margin: 0;
    padding: 0;
    background-color:skyblue;
    overflow:scroll;
    
}
#plottitle{
   top: 60px; 
    float: right
    
}

#input {
    float: left;
    clear: both;
    height: 40px;
    width: 500px;
    margin-top: 40px;
    font-size: 20px;
}