body{
    font:Arial, Helvetica,sans-serif;
}
#container {
    width: 1050px;
    /* border:1px solid grey;*/
    margin: 0 auto;
    
}
#header{
    height: 100px;
    padding: 10px 0px;
}
#brand{
    float: left;
    
}


h1 a{
    
    font-size: 50px;
    font-weight: 100px;
    color: #861BBF;
    text-decoration: none;
    
    
}
#searchBox {
    float: right;
    background: linear-gradient(#E4F2B9,#B7E953);
     background: -webkit-linear-gradient(#E4F2B9,#B7E953);
     background: -o-linear-gradient(#E4F2B9,#B7E953);
     background: -ms-linear-gradient(#E4F2B9,#B7E953);
     background: -moz-linear-gradient(#E4F2B9,#B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
    
    
}
.text{
    float: left;
    widows: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white url(images/search.png) right center no-repeat;
    border:1px solid #C8003e;
    
    
    

}
.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
    
}
.clear{
    clear: both;
    
    
}
#menu{
    
    height: 70px;
    background: linear-gradient(#41dff4, #D5D533);
    padding: 10px 0px;
    
}
ul{
    list-style: none;
    
}
#menu ul li{
    float: left;
    padding: 0px 35px;
    height: 30px;
    border-right: 1px solid #5d12e7;  
    margin-left: 40px;
    
    
    
}

#menu ul li:last-child{
    border-right: none;
    
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color:#5d12e7;
    line-height: 30px;
    -wibkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
      -o-transition: font-size 0.3s ease;
     -ms-transition: font-size 0.3s ease;
         transition: font-size 0.3s ease;
    
}
#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: #b314db;
}

td{
    margin: 5px;
    
}
#plot {
    float: right;
    clear: both;
    top: 80px;
    height: 500px;
    width: 800px;
    border: 1px dashed black;
    margin: 0;
    padding: 0;
    background-color:skyblue;
    overflow:scroll;
    
}    


#input {
    float: left;
    clear: both;
    height: 40px;
    width: 500px;
    margin-bottom: 40px;
    font-size: 20px;
}
.footer{
    height: 60px;
    background: linear-gradient(#90C3D4,#d5d533);
     background: -webkit-linear-gradient(#90C3D4,#d5d533);
     background: -moz-linear-gradient(#90C3D4,#d5d533);
     background: -o-linear-gradient(#90C3D4,#d5d533);
     background: -ms-linear-gradient(#90C3D4,#d5d533);
    padding: 10px 20px;
    margin-top: 15px;

    
}
.footer p{
    font-size: 15px;
   margin-left: 340px;
    
    
}